apiVersion: v1
kind: Service
metadata:
  name: jackett-service
  namespace: jackett
spec:
  selector:
    app: jackett
  ports:
    - protocol: TCP
      port: 9117
      targetPort: 9117
  externalIPs:
    - 192.168.1.252
