apiVersion: v1
kind: ConfigMap
metadata:
  name: jellyfin-blackolivepineapple-config
  namespace: jellyfin-proxy
data:
  jellyfin.blackolivepineapple.pizza.conf: |
    server {
        listen       80;
        listen  [::]:80;
        server_name  jellyfin.blackolivepineapple.pizza;

        location / {
          # Not sure why local DNS doesn't work in the cluster
          proxy_pass http://cherry.lan:8096;

          # WebSocket support (for jellyfin-mpv-shim)
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
        }

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
